
$default: #09aeaf;
$white:#fff;

$none: #e1e1e1;
$primary: #09aeaf;
$success:#5cb85c;
$info: #337ab7;
$warning:#f0ad4e;
$danger:#d9534f;

$borderColor:#dcdfe6;
$wordColor:#606266;

$disabledBgColor:#f5f7fa;
$disabledBdColor:#e4e7ed;
$disabledWdColor:#c0c4cc;

